* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333333;
}

button {
    border: inherit;
    background-color: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.turned {
    transform: rotate(180deg);
}

.bordered {
    border: 1.5px solid #ffffff;
    border-radius: 99999px;
}